<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Data Logger</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            {{#if isHome}}
                <li class="active"><a href="/">Home Page</a></li>
            {{else}}
                <li><a href="/">Home Page</a></li>
            {{/if}}
            {{#if isDataRender}}
                <li class="active"><a href="/courses">Data</a></li>
            {{else}}
                <li><a href="/courses">Data</a></li>
            {{/if}}
            {{#if isDataFiller}}
                <li class="active"><a href="/filler">Fill</a></li>
            {{else}}
                <li><a href="/filler">Fill</a></li>
            {{/if}}
        </ul>
    </div>
</nav>
