<div class="data-filler">
    <h1>Oh Fill Me</h1>

    <form action="/filler" method="POST">
        <div class="input-field">
            <input name="info" placeholder="Enter some text" id="information" type="text" class="validate" required>
            <label for="title">Some Data To DB</label>
        </div>
        <div class="input-field">
            <input name="num" placeholder="Enter Number" id="number" type="number" class="validate" required>
            <label for="number">Number For DB</label>
            <span class="helper-text" data-error="Enter Number" data-success="right"></span>
        </div>
        <button class="btn btn-primary">Add Data</button>
    </form>
</div>


